*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  position: relative;
  line-height: 1.6;
  min-height: 100%;
  font-family: sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
  color: #333;
  background-color: #f1f1f1f1;
  font-weight: 400;
}

.container {
  max-width: 956px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 16px;
}

.days {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  padding: 14px;
  margin-top: 20px;
  overflow: hidden;
  max-height: 350px;
}

.days.active {
  max-height: none;
}

.icon-down {
  display: none;
}

.btn_show {
  text-decoration: underline;
  cursor: pointer;
}

.div_day {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

.hour {
  padding: 6px;
  margin-bottom: 6px;
  border-radius: 4px;
  background-color: #3498db;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease;
  cursor: pointer;
}

.bookings {
  display: flex;
}

.hour:hover {
  background-color: #2ecc71;
}


.day_of_week {
  font-weight: 600;
}

.date {
  font-weight: 400;
  font-size: 14px;
  color: #7f8c8d;
}

input[type='text'] {
  padding: 10px;
  width: 230px;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.cancel {
  font-size: 13px;
  margin-left: 14px;
  cursor: pointer;
}

.hour_selected {
  width: 100%;
  font-size: 15px;
  color: #7f8c8d;
}

.booking {
  margin-right: 16px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.form-group {
  position: relative;
  margin-bottom: 12px;
}

.display {
  position: absolute;
  top: 40px;
  background-color: #fff;
  width: 230px;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
}

.item,
.checkbox {
  margin-bottom: 4px;
}

@media screen and (max-width: 824px) {
  .days {
    background-color: transparent;
    flex-direction: column;
    border: none;
    max-height: 100%;
    padding: 0;
  }

  .day {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .div_day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 12px;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    padding: 6px;
    border: 1px solid #ddd;
    text-align: start;
  }

  .icon-down {
    display: block;
    font-size: 20px;
  }

  .hours.none {
    display: none;
  }

  .hours {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 12px;
  }

  .hour {
    width: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 6px;
  }

  input[type='text'] {
    width: 100%;
  }

  .btn_show {
    display: none;
  }

  .bookings {
    flex-direction: column;
  }

  .display {
    width: 100% !important;
  }

  .dates {
    display: flex;
    gap: 2px;
  }

  .dates > * {
    font-size: 16px;
    color: #333;
    font-weight: 500;
  }

  .day_of_week {
    margin-right: 4px;
  }
}